<form action="/recipes" method="post">
  <div><label for="name"></label><input type="text" name="name" id="name"></div>
  <div><label for="servings"></label><input type="number" name="servings" id="servings"></div>
  <div><label for="description"></label><input type="text" name="description" id="description"></div>
  <div><label for="ingredients"></label><textarea name="ingredients" id="ingredients" rows="5" cols="33"></textarea></div>
  <div><label for="instructions"></label><textarea name="instructions" id="instructions" rows="5" cols="33"></textarea></div>
  <div><button type="submit">Create Recipe</button></div>
</form>