<form action="/recipes" method="post">
  <div><label for="name">Recipe name: </label><input type="text" name="name" id="name" required ></div>
  <div><label for="servings">Serves: </label><input type="number" name="servings" id="servings" required min="1" value="1"></div>
  <div><label for="description">Description: </label><input type="text" name="description" id="description" required ></div>
  <div><label for="ingredients">Ingredients: </label><textarea name="ingredients" id="ingredients" rows="15" cols="80" required ></textarea></div>
  <div><label for="instructions">Instructions: </label><textarea name="instructions" id="instructions" rows="20" cols="80" required ></textarea></div>
  <div><button type="submit">Create Recipe</button></div>
</form>