<h1>Delete your account?</h1>
<p>By clicking "Delete My Account" You will be removing this account from MyRecipe. Any recipe that is associated with this account that does not have a spinoff will also be deleted. Any recipe that has a spinoff will kept in the system. Please contact <a href="mailto:admin@recipeswap.com">RecipeSwap</a> in case you need further information</p>
<p>We will miss you!</p>

<form action="/users/<%= @user.id %>" method="post">
<input id="hidden" type="hidden" name="_method" value="delete">
  <div><button type="submit">Delete My Account</button></div>
</form>
<p><a href="/">Keep account and look at more recipes...</a></p>