<h1>Edit account</h1>

<p><a href="/users/<%= @user[:id] %>/delete">Delete my account</a></p>

<form action="/users" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <div>
    <label for="username">Username: </label>
    <input  type="text" 
            name="username" 
            id="username" 
            required
            value="<%= @user.username %>"
            >
  </div>
  <div>
    <label for="email">Email: </label>
    <input  type="text" 
            name="email" 
            id="email" 
            required
            value="<%= @user.email %>"
            >
  </div>
  <div>
    <label for="old_password">Password: </label>
    <input type="old_password" name="old_password" id="old_password" required>
  </div>
  <div>
    
    <label for="new_password">Change Password (leave blank if not changing): </label>
    <input type="new_password" name="new_password" id="new_password" >
    
  </div>
  <div><button type="submit">Confirm Account Changes</button></div>
</form>