<h1>Username or password is incorrect</h1>
<h2>Please try again...</h2>
<form action="/login" method="post">
  <div><label for="username">Username: </label><input type="text" name="username" id="username"></div>
  <div><label for="password"></label>Password: <input type="password" name="password" id="password"></div>
  <div><button type="submit">Log into RecipeSwap</button></div>
  <h2>...or <a href="/">return home</a></h2>
</form>