<% if flash.has?(:message) %>
  <div id="flash-wrapper">
    <div id="flash-message">
      <p><%= flash[:message] %></p>
    </div>
  </div>
<% end %>

<h1>Create new account</h1>

<form action="/users" method="post">
  <div><label for="username">Username: </label><input type="text" name="username" id="username" required></div>
  <div><label for="email">Email: </label><input type="text" name="email" id="email" required></div>
  <div><label for="password">Password: </label><input type="password" name="password" id="password" required></div>
  <div><button type="submit">Create Account</button></div>
</form>