<h1>About RecipeSwap</h1>

<p>RecipeSwap allows users to browse, curate, and spin off recipes. Pinterest and browser bookmarks are lovely way to curate recipes from online locations but they have one serious drawback. There is no way to tweak that recipe. Whether your an onion lover, vegan, fan of fusion, or just seriously opinionated about flavors, this tool will allow you to tweak the recipes you curate to meet your own personal preferences.</p>

<h2>With RecipeSwap you are be able to:</h2>

<ul>
  <li>Browse the communitiy's recipes.</li>
  <li>Mark recipes as favorites for easy reference.</li>
  <li>Spin off recipes to make them your own.</li>
  <li>Publish you own recipes to share with the RecipeSwap community.</li>
</ul>


<p>RecipeSwap is built with love in Ruby using Sinatra and ActiveRecord.</p>